{% extends "header-footer.html" %}

{% block content %}

    <section class="content-section">
        <form method="POST">
		<textarea id="doc-text" placeholder="Nhập lệnh cần điều khiển vào đây..." name="text" rows="5" cols="25">
		</textarea>      
        <button class="btn-submit" type="submit"> Gửi đến loa </button>
		</form>
    </section>
    <section class="content-section">
      <div class="section-header-wrapper">
        <h1 class="section-header">Văn bản mới đọc</h1>
        <a class="section-header-link">
          Xem tất cả
        </a>
      </div>
      <div class="files-table">
        <div class="files-table-header">
          <div class="column-header table-cell">Tên file</div>
          <div class="column-header table-cell size-cell">Kích cỡ</div>
          <div class="column-header table-cell">Ngày đọc</div>
          <div class="column-header table-cell">Hành động</div>
        </div>
        <div class="files-table-row">
          <div class="table-cell name-cell pdf">Brandenburg.mp3</div>
          <div class="table-cell">42 MB</div>
          <div class="table-cell">26/10/2020</div>
          <div class="table-cell action-cell">
            <button class="more-action"></button>
          </div>
        </div>
        <div class="files-table-row">
          <div class="table-cell name-cell jpg">TheLionsRoar.mp3</div>
          <div class="table-cell size-cell">500 KB</div>
          <div class="table-cell">18/12/2021</div>
          <div class="table-cell action-cell">
            <button class="more-action"></button>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}